* {
    box-sizing: border-box;
}

:root {
    --cols: 8;
    --tile-size: 34px;
}

ol, ul {
    padding-left: 30px;
}
  
.status {
    margin-bottom: 10px;
}

.square {
    height: 34px; 
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--tile-size));
    grid-gap: 0;
    align-self: flex-start;
}